@charset "utf-8";
@import "../../../assets/scss/usage/layout/reset.scss";
.container{
    padding-top:0.88rem;
    &.isWeiXin{
        padding-top: 0;
    }
}
.content{
    padding: 0.2rem 0.36rem;
    font-size:0.28rem;
}