@charset "utf-8";
@import "../../../assets/scss/usage/layout/reset.scss";
@import "../../../assets/scss/usage/layout/common.scss";
@import "../../../assets/fonts/iconfont.css";
body, html{
    width:100%;
    height:100%;
    background:#fff;
}
#body{
    padding: 0.22rem 0.36rem 0;
}
p{
    font-size:0.28rem;
    line-height: 0.48rem;
    margin-bottom:0.1rem;
}