@charset "utf-8";
@import "../../../assets/scss/usage/layout/reset.scss";
@import "../../../assets/scss/usage/layout/common.scss";
@import "../../../assets/fonts/iconfont.css";
body, html{
    width:100%;
    height:100%;
    background:#fff;
}
#body{
    padding: 0.22rem 0.36rem 0.4rem;
    font-size:0.28rem;
}
p{
    line-height: 0.5rem;
    margin-bottom:0.1rem;
}
h3{
    line-height: 0.8rem;
}
h4{
    line-height: 0.6rem;
}