@charset "utf-8";
@import "../../common/common.scss";
.g_homePolicy_body{
	background: #f5f5f5;
}
.policy_box{
    padding-top:0.88rem;
	&.isWeiXin{
		padding-top:0;
	}
}
.policy_head{
	width:100%;
	height:1rem;
	font-size:0.28rem;
	@include border(0 0 1px 0, #e3e3e3, solid);
	background:#fafafa;
	position: fixed;
	left:0;
	top:0.88rem;
	z-index: 9;
	&.isWeiXin{
		top:0;
	}
	.item{
		height:1rem;
		line-height: 1rem;
		padding: 0 0.28rem;
	}
	.border{
		@include border(0 0 0.08rem 0, #2dce8f, solid);
	}
}
.policy_list{
	padding-top: 1rem;
	width:100%;
	.list_head{
		padding: 0 $padding;
		height:0.8rem;
		line-height: 0.8rem;
		font-size:0.24rem;
		color:#a8aeac;
	}
	.policy_past{
		color:#a8aeac;
	}
	.item{
		padding-top:0.4rem;
		background:#fff;
		width:100%;
		position: relative;
		overflow: hidden;
	}
}
.policy_top{
	padding: 0 $padding;	
	margin-bottom:0.3rem;
	width:100%;
	.left{
		.numberCar{
			font-size:0.36rem;
			color:#484c4b;
			font-weight: bold;
			width:4.53rem;
			max-height:1.03rem;
			line-height: 0.48rem;
			margin-bottom:0.2rem;
			overflow: hidden;
		}
		.policy_past{
		    color:#a8aeac;
	    }
		.policy_color{
			color:#484c4b;
			font-weight: bold;
		}
		img{
			// width:1.17rem;
			height:0.5rem;
		}
	}
	.right{
		position: absolute;
		right:$padding;
		top:-0.1rem;
		width:1.42rem;
		height:1.42rem;
		i{ 
			font-size:1.24rem;
			line-height:1.26rem;
			color:#C4CAC6;
		}
		.blue{
			color:#7FBAFF;
		}
	.policy_past{
	   color:#a8aeac;
	}
	   .yblock{
		   display:block;
	   }
	}
}
.policy_center{
	font-size: 0.24rem;
	// line-height: 0.36rem;
	@include border(0 0 1px 0, #e3e3e3, solid);
	padding-bottom:0.43rem;
	color:#484c4b;
	>div{
		padding: 0 $padding;
		.br{
			margin:0 0.1rem;
		}	
	}
}
.policy_past{
	color:#a8aeac;
}
.policy_color{
	color:#484c4b;
	}
.policy_bottom{
	padding: 0 $padding;
	width:100%;
	height:0.97rem;
	line-height: 0.97rem;	
	>div{
		font-size: 0.24rem;
		color:#a8aeac;
		&.policy_past span{
			color:#a8aeac;
		}
		&.policy_color span{
			color:#ffac89;
		} 
		>span{
			font-size: 0.3rem;
		}
	}
}
.policy_footer{
	width:100%;
	padding:0.62rem $padding 0.3rem;
	.btn{
       width:100%;
	   height:0.88rem;
	   line-height: 0.88rem;
	   text-align: center;
	   background:#2ece90;
	   @include border-radius(0.08rem);
	   font-size:0.36rem;
	   color:#fff;
	}
}
