@charset "utf-8";
@import "../../common/common.scss";
.g_setLoginPass_head{
    padding-left:$padding;
    height:0.88rem;
    color:#a8aeac;
    font-size:0.24rem;
    .iconfont{
        color:#2ece90;
        margin-right:0.22rem;
        font-size: 0.22rem;
    }
}