@charset "utf-8";
@import "../../../assets/scss/usage/layout/reset.scss";
@import "../../../assets/scss/usage/layout/common.scss";
@import '../../../assets/fonts/iconfont.css';

.ui-borderBottom{
    @include border(0 0 1px 0,#e3e3e3,solid);
}
.ui-wh{
    width:100%;
    height:100%;
    display: block;
}
.session{
    .head {
        padding-left:0.36rem;
        height: 0.84rem;
        line-height: 0.84rem;
        font-size:0.28rem;
        color:#a8afac; 
    }
    .list {
        padding:0.18rem 0.36rem;
        background-color:$white;
        .item{
            @include wrap();
            line-height:0.5rem;
            @include flexbox();
            font-size:0.28rem;
            .item_title {
                display: inline-block;
                width:1.6rem;
                color:#a8afac;
            }
            .item_content{
                @include flex();
                color:#484c4a;
            }
            .isOn{
                color:#ff7d37 !important;
            }
        }
    }
    
    .chengren_icon{
        display:inline-block;
        width:0.42rem;
        height:0.47rem;
        margin-bottom:-0.08rem;
        // background:url(../images/yiwai_icon.png) no-repeat center center;
    }
    .chengren_title{
        font-weight: normal;
        font-size: 0.42rem;
        margin-left:0.24rem;
        line-height: 0.94rem !important;
    }
    .title{
        color:#5a5e5c;
        line-height: 0.9rem;
        padding-left:0.36rem;
        background: $white;
        @include flexbox();
        font-size:0.28rem;
        &.lowLine-H{
            line-height: 0.52rem;
        }
        .detail{
            @include flex();
            padding-left:0.44rem;
            color:#484c4a;
        }
    }
    .table-box{
        padding: 0 0.36rem;
        color: #a8afac;
        background: $white;
    }
    .table{
         @include border(1px,#e3e3e3,solid,0.12rem);
    }
}

.ui-row{
    @include flexbox();
    height:0.78rem;
    text-align: center;
    line-height: 0.78rem;
    &.bordertop{
        @include border(1px 0 0 0,#e3e3e3,solid);
    }
}
.ui-col{
    @include flex();
    font-size:0.28rem;
    &.borderleft{
        @include border(0 0 0 1px,#e3e3e3,solid);
    }
}

.title-color{
    color:#484c4a;
}
.description{
    height:1.84rem;
    padding:0.26rem 0 0 0.36rem;
    line-height:0.44rem;
    @include flexbox();
    > div{
        @include flex();
        padding-right:0.36rem;
        > p{
            @include wrap();
            font-size:0.28rem;
            color: #a8afac;
        }
    }
}
.payMoney{
    display: none;
    margin-top:0.26rem;
    background: #fff;
    padding:0.14rem 0.36rem;
    .item{
        width:100%;
        height:0.52rem;
        font-size:0.28rem;
        .fl{
            color:#a8afac;
            line-height: 0.52rem;
        }
        .fr{
            color:#ff7d37;
            line-height: 0.52rem;
        }
    }
}
.payMoneySum{
    padding:0 0.36rem;
    margin:0;
    @include border(1px 0 0 0,#e3e3e3,solid);
    .item{
        height: 1.12rem;
        .fl{
            line-height: 1.12rem;
        }
        .fr{
            line-height: 1.12rem;
            font-size:0.38rem;
        }
    }
}
.paddingBottom7{
    padding-bottom: 0.14rem;
}
.finish{
    display: block;
}
// icon start
.icon-xiayibu{
    font-size:0.24rem;
    color: #a8afac;
    position:relative;
    top:-0.04rem;
}
.icon-tishi{
    color:#1ccf8d;
    font-size:0.24rem;
    margin-right: 0.22rem;
}
// icon end
body{
    padding-bottom:1.2rem;
}
.dropload-down{
    display: none;
}