@charset "utf-8";
@import "../../../assets/scss/usage/layout/reset.scss";
@import "../../../assets/scss/usage/layout/common.scss";
@import "../../../assets/fonts/iconfont.css";
$padding:0.36rem;
.list{
	padding:0.4rem 0.36rem 0;
	.item{
		width:100%;
		height:2rem;
		background: url(../images/red1.jpg) no-repeat center;
		background-size: contain;
		overflow: hidden;
		margin-bottom:0.4rem;
		.rotate_box{
			width:1.8rem;
			height:100%;
			position: relative;
               .rotate{
				   position: absolute;
					width:1.4rem;
					height:0.4rem;
					background:#fff;
					text-align: center;
					line-height: 0.4rem;
					left:-0.35rem;
					top:0.12rem;
					font-size:0.22rem;
					transform:rotate(-45deg);
					color:#ff5d59;
				}
				.money{
					width:100%;
					height:100%;
					font-size: 0.6rem;
					color:#fff;
				}
		}
		.content{
			padding-left:0.3rem;
			.first{
				font-size:0.36rem;
				color:#484c4b;
				line-height: 0.58rem;
				margin-top:0.5rem;
			}
			.time{
				font-size:0.24rem;
				color:#a8aeac;
				@media screen and (max-width:320px) {
					transform: scale(0.85) translateX(-16px);
				}
			}
		}
	}
}