@charset "utf-8";
@import "../../../assets/scss/usage/layout/reset.scss";
@import "../../../assets/scss/usage/layout/common.scss";
@import "../../../assets/fonts/iconfont.css";
#body{
    background:#fff;
    padding-top:0.34rem + 0.88rem;;
    &.isWeiXin{
        padding-top: 0.34rem;
    }
}
img{
    width:1rem;
}