@charset "utf-8";
@import "../../../assets/scss/usage/layout/reset.scss";
@import "../../../assets/scss/usage/layout/common.scss";
@import "../../../assets/fonts/iconfont.css";
$padding:0.34rem;
$tgray: #a8afac;
#body{
    padding-top:0.88rem;
    &.isWeiXin{
        padding-top:0;
    }
}
section{
    .list{
        background:#fff;
         background: #fff;
        .head{
            width: 100%;
            color:#a8afac;
            font-size:0.24rem;
            padding: 0.36rem 0 0.26rem;
            padding-left:$padding;
            background: #f5f5f5;
        }
        .itm{
            padding-right:$padding;
            overflow: hidden;
            line-height: 1.1rem;
            margin-left:$padding;
            @include border(0 0 1px 0,#e3e3e3,solid);
            font-size:0.28rem;
            color:#5a5e5c;
            .tata{
               overflow: hidden;
               text-align: center; 
               .tata_center{
                     font-size:0.28rem;
                     color:#a8afac;
                     display: block;
                     width:1.7rem;
                     margin:0 auto;
                     .ico{
                          font-size:0.32rem;
                          color:#2dce8f;
                          float:left;
                          
                     }
                     .disregard{
                         float:center;
                     }
               }
            }
        }
        .itm_border{
            @include border(0,#e3e3e3,solid);
        }
        .ic1{
            float: right;
            display: block;
            color:#e3e3e3;
             font-size:0.16rem;
             margin-left:0.13rem;
        }
    }
}
.isSelected{
    display:block !important;
}
.noneMarginR{
    margin-right: 0 !important;
}
footer{
    width:100%;
    height:2.3rem;
    padding: 0 0.34rem;
    padding-top:0.62rem;
    >div{
        width:3.18rem;
        height:0.89rem;
         div {
            width:98%;
            height:99%;
            text-align:center; 
            @include border(1px,#1ccf8d,solid,0.1rem);
            line-height: 0.89rem;
            font-size:0.4rem;
            color:#1ccf8d;
        }
    }
}
.layer{
    background:rgba(0,90,0,0.5);
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
}

.choose-city{
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    .title{
        text-align: center;
        color: #000;
        padding: 0.2rem 0;
        .close{
            position: absolute;
            top: 0;
            right: 0;
            display: inline-block;
            width: 0.6rem;
            height: 0.6rem,;
            line-height: 0.6rem;
            color: $tgray;
        }
    }
}
.layer-shade{
    font-size:0.24rem;
}
.city-list{
    @include border(0 0 1px 0,#e3e3e3,solid);
}
.city-item{
    padding: 0.2rem 0.2rem 0.16rem 0.2rem;
    display: inline-block;
    @include border(0 0 2px 0,#fff,solid);
}
.city-item.cur{
    color: $green;
    @include border(0 0 2px 0,$green,solid);
}
.cityDetail-list{
    max-height: 4rem;
    overflow-y:scroll;
}
.cityDetail-item{
    padding: 0.2rem;
    i{
        color: $green;
        margin-left: 0.2rem;
        font-size:0.24rem;
    }
}
.cityDetail-item.cur{
    color: $green;
}
.com_alert {
    width:6.6rem;
    height:5.57rem;
    background:#fff;
    position: fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    margin:auto;
    padding-top: 0.26rem;
    @include border-radius(0.1rem);
    .fr_span{
        margin-right:0.26rem;
         .iconfont{
             font-size:0.26rem;
             color:#2dce8f;
         }
    }
    .center {
        padding:0.99rem 0 1.13rem 0;
        >div{
            text-align: center;
        }
        .xun{
            font-size:0.36rem;
            line-height: 0.7rem;
            color:#a8afac;
        }
        .money{
            font-size:0.92rem;
            line-height: 1.09rem;
            color:#ff7d37;
        }
        .money1{
            font-size:0.6rem;
            line-height: 1.09rem;
            color:#ff7d37;
        }
    }
    .btn{
        padding:0 0.36rem;
        color:#fff;
        >div{
            width:2.77rem;
            height:0.88rem;
            line-height: 0.88rem;
            text-align: center;
             font-size:0.36rem;
             @include border-radius(0.1rem);
        }
        .fl{
            background:#2dce8f;
        }
        .fr{
            background:#ff7d37;
        }
    }
}
//验证码
.code{
    .center{
        width:6.58rem;
        height:5.36rem;
        background: #fff;
        @include border-radius(0.1rem);
        .top{
            width:100%;
            height:0.78rem;
            padding-left:0.36rem;
            padding-right:0.26rem;
            text-align:right;
            font-size:0.5rem;
            color:#2dce8f;
            line-height: 0.78rem;
            margin-bottom:0.11rem;
            >div{
                display: inline-block;
            }
        }
        p{
            padding:0 0.36rem;
            text-align: center;
            font-size:0.28rem;
            color:#a8afac;
            line-height: 1.31rem;
        }
        .bottom{
            padding:0 0.36rem;
            height:0.88rem;
            margin-bottom:0.88rem;
            .number{
                width:2.88rem;
                @include border(1px, #e3e3e3, solid);
                margin-right:0.26rem;
                &::after{
                    margin-left:0.01rem;
                }
                input{
                    width:90%;
                    outline: none;
                    line-height: 0.54rem;
                    font-size:0.36;
                    padding-left:0.26rem;
                    border:0;
                }
            }
            .img_code{
                width:1.94rem;
                height:100%;
                @include border(1px 0 1px 1px, #e3e3e3, solid);
                img{
                    width:1.59rem;
                    height:0.49rem;
                }
            }
            .load{
                width:0.78rem;
                height:100%;
                background-color:#2dce8f;
                img{
                    width:0.5rem;
                    height:0.5rem;
                }
            }
        }
        .foot{
            padding:0 0.36rem;
            height:0.9rem;
            line-height: 0.9rem;
            >div{
                font-size:0.36rem;
                text-align: center;
                color:#fff;
                @include border-radius(0.1rem); 
            }
            >div:first-child{
                background: #2dce8f;
                margin-right:0.34rem;
            }
            >div:last-child{
                background: #ff7d37;
            }
        }
    }
}